*{
    padding: 0;
    margin: 0;
}

#game{
    background: url(images/forest.png) no-repeat center bottom/cover;
    width: 2000px;
    height: 800px;
}

#player{
    background: url(images/naruto.gif) no-repeat center bottom/cover;
    height: 175px;
    width: 200px;
    position: relative;
    top: 600px;
    right: -100px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 600px;}
    30%{top: 475px;}
    70%{top: 475px;}
    100%{top: 600px;}
}

#block{
    background: url(images/shuriken.gif) no-repeat center bottom/cover;
    width: 100px;
    height: 100px;
    position: relative;
    top: 450px;
    left: 1800px;
    animation: block 1.5s infinite linear;
}
@keyframes block{
    0%{left: 1800px;}
    100%{left: -50px;}
}

#bg{
    background-color: rgb(49, 48, 45);
}
