#game{
    background: url(images/happyForest.gif) no-repeat center bottom/cover;
    width: 2000px;
    height: 850px;
}
.image{
    filter: grayscale(100%);
}

#naruto{
    background: url(images/naruto.gif) no-repeat center bottom/cover;
    height: 175px;
    width: 200px;
    position: relative;
    top: 600px;
    right: -300px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 600px;}
    30%{top: 475px;}
    70%{top: 475px;}
    100%{top: 600px;}
}



#shuriken{
    background: url(images/shuriken.gif) no-repeat center bottom/cover;
    width: 100px;
    height: 100px;
    position: relative;
    top: 450px;
    left: 1800px;
}
.attack{
    animation: block var(--animation-time) infinite linear;
}
:root{
    --animation-time: 2s;
}
@keyframes block{
    0%{left: 1800px;}
    100%{left: -75px;}
}





#bg{
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10;
}

#timer{
    position: relative;
    top: -150px;
    left: 900px;
}



#welcome-screen{
    background: url(images/welcome.gif) no-repeat center bottom/cover;

    border: solid black;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
    position: fixed;
    top:30%;
    margin-top: -100px;
    margin-left: -100px;
    height:500px;
    width:800px;
    text-align: center;
}
#welcome-screen:hover {color: #b14700; }

#start-screen, #game-over {
    border: solid black;
    border-radius: 10px;
    background-color: #0036e97a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #b14700;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
    height:200px;
    width:375px;
    text-align: center;
}

#start-screen a, #game-over a {
    border: 3px solid #528600;
    color: #528600;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#start-screen a:hover, #game-over a:hover { background-color: #528600; color: black; }