*{
    padding: 0;
    margin: 0;
}

#game{
    background: url(images/forest.png) no-repeat center bottom/cover;
    width: 2000px;
    height: 800px;
}

#naruto{
    background: url(images/naruto.gif) no-repeat center bottom/cover;
    height: 175px;
    width: 200px;
    position: relative;
    top: 600px;
    right: -100px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 600px;}
    30%{top: 475px;}
    70%{top: 475px;}
    100%{top: 600px;}
}

#shuriken{
    background: url(images/shuriken.gif) no-repeat center bottom/cover;
    width: 100px;
    height: 100px;
    position: relative;
    top: 450px;
    left: 1800px;
    animation: block var(--animation-time) infinite linear;
}
:root{
    --animation-time: 2s;
}
@keyframes block{
    0%{left: 1800px;}
    100%{left: -75px;}
}

#bg{
    background-color: rgb(49, 48, 45);
    height: 75vh;
    width: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#timer{
    position: relative;
    top: -150px;
    left: 900px;
}

#game-over {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #941c1c;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
    height:200px;
    width:250px;
    text-align: center;
}

#game-over a {
    border: 3px solid #881212;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#game-over a:hover { background-color: #000000; color: #922323; }